<div data-role="graph"></div>
<script>
    var options = {
            container: $('[data-role="graph"]'),
            groupsOptions: {
                drawPoints: {
                    style: 'circle'
                }
            },
            graphOptions: {
                legend: true
            }
        },
        data = [
            {
                id: 'main',
                title: 'Main data:',
                groups: {{ coursePresenter.getGroups()|json_encode|raw }},
                data: {{ coursePresenter.getItems()|json_encode|raw }}
            },
            {
                id: 'diff',
                title: 'Diff data:',
                groups: {{ diffCoursesPresenter.getGroups()|json_encode|raw }},
                data: {{ diffCoursesPresenter.getItems()|json_encode|raw }}
            }
        ];

    var visualizator = new visualizator(data, options);
    visualizator.visualize();
</script>